
/* Estilos para el formulario de registro */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btn-volver{
    width: 150px;
    height: 40px;
    background-color: aquamarine;
    border-radius: 30px;
}

h1 {
    text-align: center;
    color: #333;
}
h3{
    text-align: center;
    color: #333;
}

/* Estilos para los campos de formulario */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos para el botón de registro */
.register-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.register-button:hover {
    background-color: #555;
}
